<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Test1" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="Test2" type="System.Configuration.DictionarySectionHandler"/>
		<section name="Test3" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<Test1 setting1="Hello" setting2="World"></Test1>
	<Test2>
		<add key="Hello" value="World"></add>
	</Test2>
	<Test3>
		<add key="Hello" value="World"></add>
	</Test3>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
